.link {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 10%;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}
