.container {
   margin: 20px;
   padding: 20px;
   border: 1px solid #00ddeb;
   border-radius: 10px;
   cursor: pointer;

   &.selected,
   &:hover {
      background-color: #ab51b0;
      font-weight: 700;
   }
}
